{% load static %}

<div class="container-left">

    <div class="left">
        <button class="btn-1 btn"><i class="bi bi-house blue"></i> HOME</button>
        <button class="btn"><i class="bi bi-journal-text orange"></i> TEACHERS</button>
        <button class="btn"><i class="bi bi-door-open green"></i> PARENTS</button>
        <button class="btn"><i class="bi bi-mortarboard orange"></i> STUDENTS</button>
        <button class="btn-4 btn"><i class="bi bi-send green"></i> COMMUNICATE</button>
    </div>
</div>
