<div class="modal fade" id="calculationsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paramètres de calcul</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Intervalle</th>
                                <th>Note</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100 - 90</td>
                                <td><span class="badge bg-success">A</span></td>
                                <td><i class="bi bi-trash text-danger cursor-pointer"></i></td>
                            </tr>
                            <tr>
                                <td>89 - 80</td>
                                <td><span class="badge bg-primary">B</span></td>
                                <td><i class="bi bi-trash text-danger cursor-pointer"></i></td>
                            </tr>
                            <tr>
                                <td>79 - 70</td>
                                <td><span class="badge bg-warning">C</span></td>
                                <td><i class="bi bi-trash text-danger cursor-pointer"></i></td>
                            </tr>
                            <tr>
                                <td>69 - 55</td>
                                <td><span class="badge bg-orange">D</span></td>
                                <td><i class="bi bi-trash text-danger cursor-pointer"></i></td>
                            </tr>
                            <tr>
                                <td>54 - 0</td>
                                <td><span class="badge bg-danger">F</span></td>
                                <td><i class="bi bi-trash text-danger cursor-pointer"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>