{% extends "_partials/dashboard_student/layaout.html" %}
{% load static %}

{% block content %}
    <div class="container-right">
        <h3 class="text-color">Dashboard STUDENT</h3>
        <div class="middle-container">
            <div class="middle">
                <!-- School Leader Section -->
                <div class="middleZone">
                    <img src="{% static 'img/woman.jpg' %}" alt="Profile Picture" class="woman1">
                    <div>
                        <h3 class="text-gray" >{{ firstname }} {{ lastname }}</h3>
                        <div class="text-color">
                            <i class="bi bi-alarm"></i>
                            <i class="bi bi-person"></i>
                            <i class="bi bi-gear"></i>
                        </div>
                    </div>
                </div>

                <!-- Assistance Section -->
                <div class="middleZone-2">
                    <h3 class="text-gray">AI Teacher Assistance</h3>
                    <div class="check-container-new">
                        <div class="check-container redBG">
                            <i class="bi bi-exclamation-circle redColor"></i>
                        </div>
                        <div>
                            <p class="text-gray">Students who need you to <span class="text-bold">contact their parents</span></p>
                        </div>
                    </div>
                    <div class="check-container-again">
                        <div class="student"><p class="text-gray"><span class="text-bold">Marta Sae</span></p></div>
                        <div><i class="bi bi-exclamation-circle blueColor"></i></div>
                    </div>
                    <div class="check-container-again">
                        <div class="student"><p class="text-gray"><span class="text-bold">John Smith</span></p></div>
                        <div><i class="bi bi-exclamation-circle blueColor"></i></div>
                    </div>
                    <div class="check-container-new">
                        <div class="check-container yellowBG">
                            <i class="bi bi-bell"></i>
                        </div>
                        <div class="para">
                            <p class="text-gray">Remember that tomorrow <span class="text-bold">Class 5 - Math has an exam</span></p>
                        </div>
                    </div>
                    <div class="check-container-new">
                        <div class="check-container yellowBG">
                            <i class="bi bi-bell"></i>
                        </div>
                        <div class="para">
                            <p class="text-gray">Remember that tomorrow <span class="text-bold">Class 5 - Science has an exam</span></p>
                        </div>
                    </div>
                </div>

                <!-- Profile Section -->
                <div class="middleZone-3">
                    <h3 class="text-gray">Profile</h3>
                    <div class="profile-picture-container">
                        <img src="{% static 'img/woman.jpg' %}" alt="Profile Picture" class="woman1">
                        <h4 class="text-gray">{{ role }}</h4>
                    </div>
                    <form>
                        {% csrf_token %}
                        <div class="form-line">
                            <div class="input-container">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" value="{{ username }}" readonly>
                            </div>
                            <div class="input-container">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" value="{{ email }}" readonly>
                            </div>
                        </div>
                        <div class="form-line">
                            <div class="input-container">
                                <label for="school">School</label>
                                <input type="text" id="school" name="school" value="{{ school }}" readonly>
                            </div>
                            <div class="input-container">
                                <label for="role_user">Role</label>
                                <input type="text" id="role_user" name="role_user" value="{{ role_user }}" readonly>
                            </div>
                        </div>
                        <div class="btns-container">
                            <button class="update-button">UPDATE PROFILE</button>
                            <button class="cancel-button">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Activity Section -->
            <div class="right">

                <div class="right-child">
                    <h4>Activity</h4>
                    <h6 class="text-gray">TODAY</h6>

                        <div class="card-container">
                            <div class="aligner">
                                <div class="check-container greenBG">
                                    <i class="bi bi-check-circle"></i>
                                </div>
                                <div class="vertical-element"></div>

                            </div>

                            <div>
                                <p class="text-gray"><span class="text-bold">Darika Samak</span> Mark as done <span class="text-bold">Listing on Science</span></p>
                                <p class="text-gray">8:40 PM</p>
                            </div>

                        </div>
                        <div class="card-container">
                            <div class="aligner">
                                <div class="check-container yellowBG">
                                    <i class="bi bi-chat-left-dots"></i>
                                </div>
                                <div class="vertical-element"></div>

                            </div>

                            <div>
                                <p class="text-gray"><span class="text-bold">Emilee Sinchenko</span> Sent you a message</p>
                                <p class="text-gray">7:32 PM</p>
                            </div>

                        </div>
                        <div class="card-container">
                            <div class="aligner">
                                <div class="check-container blueBG">
                                    <i class="bi bi-box-arrow-in-down"></i>
                                </div>
                                <!-- <div class="vertical-element"></div> -->

                            </div>

                            <div>
                                <p class="text-gray"><span class="text-bold">Darika Samak</span> uploaded 4 files on <span class="text-bold">Tasks3 - Mathematics</span></p>
                                <p class="text-gray">6:02 PM</p>
                            </div>

                        </div>

                        <div class="divider"></div>

                        <h6 class="text-gray">YESTEDAY</h6>

                            <div class="card-container">
                                <div class="aligner">
                                    <div class="check-container blueBG">
                                        <i class="bi bi-box-arrow-in-down"></i>
                                    </div>
                                    <div class="vertical-element"></div>

                                </div>

                                <div>
                                    <p class="text-gray"><span class="text-bold">Darika Samak</span> uploaded 4 files on <span class="text-bold">Tasks2 - Mathematics</span></p>

                                    <p class="text-gray">6:02 PM</p>
                                </div>

                            </div>
                            <div class="card-container">
                                <div class="aligner">
                                    <div class="check-container greenBG">
                                        <i class="bi bi-check-circle"></i>
                                    </div>
                                    <div class="vertical-element"></div>

                                </div>

                                <div>
                                    <p class="text-gray"><span class="text-bold">Darika Samak</span> Mark as done <span class="text-bold">Listing on Science</span></p>
                                    <p class="text-gray">5:49 PM</p>
                                </div>

                            </div>
                            <div class="card-container">
                                <div class="aligner">
                                    <div class="check-container purpleBG">
                                        <i class="bi bi-pencil"></i>
                                    </div>
                                    <div class="vertical-element"></div>

                                </div>

                                <div>
                                    <p class="text-gray"><span class="text-bold">Darika Samak</span> Edited <span class="text-bold">Listing on Science</span></p>
                                    <p class="text-gray">5:40 PM</p>
                                </div>

                            </div>

                            <div class="card-container">
                                <div class="aligner">
                                    <div class="check-container yellowBG">
                                        <i class="bi bi-chat-left-dots"></i>
                                    </div>
                                    <!-- <div class="vertical-element"></div> -->

                                </div>

                                <div>
                                    <p class="text-gray"><span class="text-bold">Emilee Sinchenko</span> Sent you a message</p>
                                    <p class="text-gray">4:32 PM</p>
                                </div>

                            </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}