appdirs
Django
asgiref
autopep8
certifi
coverage
distlib
dj-database-url
Faker
filelock
gunicorn
pipenv
psycopg2-binary
pycodestyle
python-dateutil
pytz
sqlparse
text-unidecode
toml
validate-email
virtualenv
virtualenv-clone
whitenoise
python-decouple