appdirs
Django
asgiref
autopep8
certifi
coverage
distlib
dj-database-url
django-heroku
Faker
filelock
gunicorn
pipenv
psycopg2
pycodestyle
python-dateutil
pytz
sqlparse
text-unidecode
toml
validate-email
virtualenv
virtualenv-clone
whitenoise
collectstatic