{% extends "_partials/dashboard_parent/layaout.html" %}
{% load static %}

{% block content %}
    <!-- Assistance Section -->
    <h3 class="text-gray">Grade Book Page..... PARENT</h3>
    <div class="gradebook-container">
            <div class="content">
                <div class="content-header">
                    <h2>Gradebook</h2>
                    <div class="button-group">
                        <button class="button button-report">Report</button>
                        <button class="button button-print">Print</button>
                    </div>
                    <select class="dropdown">
                        <option>All Classes</option>
                        <option>Class 5</option>
                        <option>Class 6</option>
                    </select>
                </div>

                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Class</th>
                                <th>Average</th>
                                <th>Exam (3)</th>
                                <th>Tests (2)</th>
                                <th>Assignments (14)</th>
                                <th>Teacher</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Class 5 - Sci</td>
                                <td>85% (C)</td>
                                <td><span class="view-link">View</span> <span class="icon">🎤</span></td>
                                <td><span class="view-link">View</span> <span class="icon">🎤</span></td>
                                <td><span class="view-link">View</span> <span class="icon">🎤</span></td>
                                <td>Eva Parker</td>
                            </tr>
                            <!-- Ajoutez d'autres lignes si nécessaire -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}