{% load static %}

<div class="container-left">
    <div class="left">
        <a href="{% url 'get_classes' %}">
            <button class="btn-1 btn {% if request.resolver_match.url_name == 'home_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-house blue"></i> CLASSES
            </button>
        </a>


        <a href="{% url 'generate_pdf' %}">
            <button class="btn {% if request.resolver_match.url_name == 'generate_pdf' %}active{% endif %}">
                <i class="bi bi-clipboard-data orange"></i> DIGITAL LIBRARY
            </button>
        </a>

        <a href="{% url 'get_gradebooks' %}">
            <button class="btn {% if request.resolver_match.url_name == 'gradebook_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-book green"></i> GRADEBOOK
            </button>
        </a>

        <a href="{% url 'attendance_teacher_dashboard' %}">
            <button class="btn {% if request.resolver_match.url_name == 'attendance_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-person-check blue"></i> ATTENDANCE
            </button>
        </a>

        <a href="{% url 'character_teacher_dashboard' %}">
            <button class="btn {% if request.resolver_match.url_name == 'character_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-map orange"></i> CHARACTER
            </button>
        </a>

        <a href="{% url 'seating_teacher_dashboard' %}">
            <button class="btn {% if request.resolver_match.url_name == 'seating_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-people green"></i> SEATING
            </button>
        </a>

        <a href="{% url 'communicate_teacher_dashboard' %}">
            <button class="btn-4 btn {% if request.resolver_match.url_name == 'communicate_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-send blue"></i> COMMUNICATE
            </button>
        </a>

        <a href="{% url 'reports_teacher_dashboard' %}">
            <button class="btn {% if request.resolver_match.url_name == 'reports_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-book orange"></i> REPORTS
            </button>
        </a>

        <a href="{% url 'teach_teacher_dashboard' %}">
            <button class="btn-4 btn {% if request.resolver_match.url_name == 'teach_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-send green"></i> TEACH
            </button>
        </a>

        <a href="{% url 'polis_teacher_dashboard' %}">
            <button class="btn {% if request.resolver_match.url_name == 'polis_teacher_dashboard' %}active{% endif %}">
                <i class="bi bi-book blue"></i> POLLS
            </button>
        </a>
    </div>
</div>
