{% load static %}

<div class="container-left">
    <div class="left">
        <a href="{% url 'home_student_dashboard' %}">
            <button class="btn-1 btn" onclick="location.href='#'">
                    <i class="bi bi-house blue"></i> HOME
            </button>
        </a>

        <a href="{% url 'assignments_student_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-clipboard-data orange"></i> ASSIGNMENTS
            </button>
        </a>

        <a href="{% url 'gradebook_student_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-clipboard-data orange"></i> GRADEBOOK
            </button>
        </a>

        <a href="{% url 'attendance_student_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-journal-text orange"></i> ATTENDANCE
            </button>
        </a>

        <a href="{% url 'character_student_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-door-open green"></i> CHARACTER
            </button>
        </a>
        <a href="{% url 'seating_student_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-mortarboard orange"></i> SEATING
            </button>
        </a>
        <a href="{% url 'communicate_student_dashboard' %}">
            <button class="btn-4 btn" onclick="location.href='#'">
                <i class="bi bi-send green"></i> COMMUNICATE
            </button>
        </a>
        <a href="{% url 'reports_student_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-book blue"></i> REPORTS
            </button>
        </a>
        <a href="{% url 'teach_student_dashboard' %}">
            <button class="btn-4 btn" onclick="location.href='#'">
                <i class="bi bi-send green"></i> TEACH
            </button>
        </a>
        <a href="{% url 'polis_student_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-book blue"></i> POLIS
            </button>
        </a>
    </div>
</div>