{% extends "_partials/dashboard_teacher/layaout.html" %}
{% load static %}

{% block content %}
    <h4 class="text-color-pink">HOME</h4>
    <div class="gradebook-container">
        <div class="content">

            <div class="table-container">
  <table class="gradebook-table">
    <thead>
      <tr class="header-row">
        <th>CLASS</th>
        <th>SUBJECT</th>
        <th>GRADE</th>
        <th>VIEW</th>
        <th>EDIT</th>
        <th>SEARCH</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody>
    <tr class="colored-row">
        <td>John, Smith</td>
        <td>100% (A)</td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
      </tr>
      <tr class="white-row">
        <td>Rae, Martha</td>
        <td>65% (C)</td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
      </tr>
      <tr class="colored-row">
        <td>Rae, Martha</td>
        <td>65% (C)</td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
      </tr>
    <tr class="white-row">
        <td>Rae, Martha</td>
        <td>65% (C)</td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
      </tr>
      <tr class="colored-row">
        <td>Rae, Martha</td>
        <td>65% (C)</td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
      </tr>
    <tr class="white-row">
        <td>Rae, Martha</td>
        <td>65% (C)</td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
        <td><span class="view-link">View</span><i class="bi bi-mic-fill red"></i></td>
      </tr>
    </tbody>
  </table>
</div>
        </div>
    </div>
{% endblock %}
