{% load static %}

<div class="container-left">
    <div class="left">
        <a href="{% url 'class_parent_dashboard' %}">
            <button class="btn-1 btn" onclick="location.href='#'">
                    <i class="bi bi-house blue"></i> CLASS
            </button>
        </a>

        <a href="{% url 'assignments_parent_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-clipboard-data orange"></i> ASSIGNMENTS
            </button>
        </a>

        <a href="{% url 'gradebook_parent_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-clipboard-data orange"></i> GRADEBOOK
            </button>
        </a>

        <a href="{% url 'attendance_parent_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-journal-text orange"></i> ATTENDANCE
            </button>
        </a>
        <a href="{% url 'communicate_parent_dashboard' %}">
            <button class="btn-4 btn" onclick="location.href='#'">
                <i class="bi bi-send green"></i> COMMUNICATE
            </button>
        </a>
        <a href="{% url 'library_parent_dashboard' %}">
            <button class="btn" onclick="location.href='#'">
                <i class="bi bi-book blue"></i> LIBRARY
            </button>
        </a>
    </div>
</div>