{% extends "_partials/base.html" %}
{% load static %}

{% block content %}
    <div class="form-container">
        <img src="{% static 'img/logo.png' %}" alt="logo" style="width: 145px; margin-bottom: 15px;">

        {% include '_partials/messages.html' %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <p>Forgot password?</p>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="ui left icon input" style="border-color: #0073b1;">
                                    <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Enter email">
                                    <i class="envelope icon" style="color: #0073b1;"></i>
                                </div>

                                <button type="submit" class="ui button" style="background-color: #0073b1; color: white;">Submit</button>

                            </form>
                        </div>
                        <div class="card-footer text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="register-link">
            Don't you want continue? <a href="{% url 'login' %}" style="color: #0073b1;">Back To Login</a>.
        </div>

  </div>
{% endblock content %}